{% extends 'base.html.twig' %}

{% block title %}Liste des ouvrages{% endblock %}

{% block body %}
{% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
<h1>Liste des ouvrages</h1>

<a href="{{ path('app_ouvrage_new') }}">Ajouter un nouvel ouvrage</a>

<table>
    <thead>
        <tr>
            <th>Titre</th>
            <th>ISBN</th>
            <th>Auteurs</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for ouvrage in ouvrages %}
        <tr>
            <td>{{ ouvrage.titre }}</td>
            <td>{{ ouvrage.ISBN }}</td>
            <td>
                {% for auteur in ouvrage.auteurs %}
                    {{ auteur.nom }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </td>
            {#}
            <td>
                <a href="{{ path('app_ouvrage_show', {'id': ouvrage.id}) }}">Voir</a>
                <a href="{{ path('app_ouvrage_edit', {'id': ouvrage.id}) }}">Modifier</a>
                <form method="post" action="{{ path('app_ouvrage_delete', {'id': ouvrage.id}) }}" style="display:inline;">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ouvrage.id) }}">
                    <button type="submit">Supprimer</button>
                </form>
            </td>#}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
